[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-fasthtml = "*"
uvicorn = ">=0.29"
claudette = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
